<div class="top-bar">
    <div class="info-found">
        <p>{{countries.length}} Countries found</p>
    </div>
    <div class="search-box">
        <mat-icon aria-hidden="false" class="search-icon">search</mat-icon>
        <input type="search" placeholder="Filter by Name, Region, Subregion">
    </div>
</div>
<div class="table-header">
    <div class="name">Name</div>
    <div class="population">Population</div>
    <div class="area">Area (km<sup>2</sup>)</div>
    <div class="gini">Gini</div>
</div>
<app-table-item></app-table-item>
